# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/

# Logs and outputs
*.log

# Models (too big for GitHub)
models/
*.gguf

# VSCode/IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
